@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome.</h1>
    <p>This is a demostration of an application for the Congressional App Challenge. This app shows remote login using OIDC made simple and secure with ASP.NET Core 3 MVC Razor Pages, MySQL, and IdentityServer4. The github for this project can be found <a href="https://github.com/Ducky3264/IdentityServer4-Endpoint-and-Authority">here</a>.</p>
</div>
